<p id="notice"><%= notice %></p>

  <h1>任务清单 — SBS <small> <%= link_to '切换项目', '' %> </small></h1>

<table id="tbl_tasks" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>任务名称</th>
      <th>业务设计-人员</th>
      <th>业务设计-计划开始时间</th>
      <th>业务设计-计划结束时间</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render 'tasks', tasks: @tasks %>
  </tbody>
</table>

<br>

<%#= link_to 'New Task', new_task_path %>

<%= link_to '创建新任务', new_task_path, class: "btn btn-default", id: "new_task" , remote: true, :"data-toggle" => 'modal', :"data-target" => '#task_dialog' %>

<div class="modal fade" id="task_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>